<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    @if (env.IsDevelopment())
    {
    <link rel="stylesheet" href="~/css/bootstrap.css" />
    <link rel="stylesheet" href="~/css/main.css" />
    }
    else
    {
    <link rel="stylesheet" href="~/css/site.min.css" />
    }
    <title>Vytautas Vaičys</title>
</head>
<body>
@RenderBody()
@if (env.IsDevelopment())
{
<script src="~/js/google-analytics.js"></script>
<script src="~/js/jquery.slim.js"></script>
<script src="~/js/popper.js"></script>
<script src="~/js/bootstrap.js"></script>
}
else
{
<script src="~/js/site.min.js"></script>
}
</body>
</html>
