@inject Microsoft.AspNetCore.Hosting.IHostingEnvironment env
@inject apps.vaicys.com.Helpers.BundleHelper bundler
<!doctype html>
<html lang="en">
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
@bundler.RenderBumdle("/css/site.min.css")
<title>Vytautas Vaičys</title>
</head>
<body>
<div class="container my-2 mt-md-3 mt-xl-5 mb-xl-3 text-center title">
    Vytautas Vaičys
</div>
<div class="container-fluid pb-2 text-center subtitle">
    passion in software engineering
</div>
<div class="container-fluid py-4 py-xl-5 content">
@RenderBody()
</div>
<div class="container text-center my-3 my-lg-5 footer">
    <div class="row justify-content-center">
        <div class="col col-lg-3 ml-1"><a href="" onmouseover="this.href='mai' + 'lto:' + 'vytautas' + '@@' + 'vaicys.com'">contact</a></div>
        <div class="col col-lg-3"><a href="https://docs.google.com/document/d/1tHcvL-2OQskmNM3VzZO6PQuS3YgXJJYLREelhnQMvk8/edit?usp=sharing" target="_blank">cv</a></div>
        <div class="col col-lg-3 mr-2"><a href="https://www.linkedin.com/in/vaicys/">linkedin</a></div>
    </div>
</div>
@bundler.RenderBumdle("/js/site.min.js")
</body>
</html>
