<div class="row justify-content-center">
    <div class="col-8">
        <h3>There was an error while processing this request</h3>
        <p>Request @Model.RequestId was logged.</p>
    </div>
</div>
