<div id="heading"><h1>Vytautas Vaičys</h1></div>
<div id="subheading"><h2>passion in software engineering</h2></div>
<div id="content">
    <div id="container">
        <div id="left">
            <h3>Professional experience</h3>
            <ul>
                <li>C# development on Microsoft Windows platform</li>
                <li>Web/desktop application development</li>
                <li>Windows services programming</li>
                <li>SQL Server database programming</li>
                <li>POS systems development and integration</li>
            </ul>
            <h3>Favorite areas of specialization</h3>
            <ul>
                <li>Application and database performance optimizations</li>
                <li>Software and system level security solutions</li>
                <li>User interface usability and design</li>
                <li>Software engineering</li>
            </ul>
        </div>
        <div id="right">
            <h3>Notable qualifications</h3>
            <ul>
                <li>Profound knowledge of the general PC platform</li>
                <li>Extensive knowledge of Microsoft operating systems and solutions</li>
                <li>Working level experience in Windows/Linux server environments</li>
                <li>Intermediate level knowledge of networks and network protocols</li>
                <li>Extensive knowledge of multimedia platforms and solutions</li>
                <li>Overwhelming passion for technology</li>
            </ul>
            <h3>Other experience</h3>
            <ul>
                <li>Web development (HTML, CSS, JS)</li>
                <li>Limited C/C++, VB, VBA, Python experience</li>
            </ul>
        </div>
    </div>
</div>
<div id="footer">
    <span><a href="" onmouseover="this.href='mai' + 'lto:' + 'vytautas' + '@@' + 'vaicys.com'">contact</a></span>
    <span><a href="vytautas-vaicys-cv.pdf">cv</a></span>
    <span><a href="" onmouseover="this.href='sky' + 'pe:' + 'vytautas' + '.vaicys?chat'">skype</a></span>
</div>
